@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(68, 65, 65);
}

.header {
  display: flex;
  justify-content: space-between;
}
.left-links, .right-links {
  display: flex;
  gap: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.footer {
  background-color: rgb(236, 232, 232);
  display: flex;
  justify-content: space-between;
  
}

.content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;

  min-height: calc(100vh - 51px - 51px); /*Makes main content 100%viewport height - header and footer to keep them on top and bottom*/
}

